﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Benj's Adornment Calculator</title>
</head>
<body data-ng-app="app" data-ng-controller="controller as vm">
    <header><h1>Benj's Adornment Calculator</h1></header>
    
    <section>
        <b>Current Profile</b>
        <select data-ng-options="key as key for (key, value) in vm.$storage" data-ng-model="vm.currentProfile"></select>
        <button type="button" data-ng-click="vm.deleteProfile()">Delete Profile</button>
        <input type="text" data-ng-model="profile"/>
        <button type="button" data-ng-click="vm.newProfile(profile)">New Profile</button>
    </section>
    
    <br/>

    <section>
        <input type="radio" data-ng-model="vm.display.label" value="name" /> Adornment names
        <input type="radio" data-ng-model="vm.display.label" value="effect" /> Adornment effects

        <input type="checkbox" data-ng-model="vm.display.showWhite" /> White
        <input type="checkbox" data-ng-model="vm.display.showYellow" /> Yellow
        <input type="checkbox" data-ng-model="vm.display.showRed" /> Red
        <input type="checkbox" data-ng-model="vm.display.showPurple" /> Purple
        <input type="checkbox" data-ng-model="vm.display.showGreen" /> Green
        <input type="checkbox" data-ng-model="vm.display.showBlue" /> Blue

        <br />

        Class: <select data-ng-options="c.name group by c.type for c in vm.classes" data-ng-model="vm.selectedClass">
            <option value="">-- choose class --</option>
        </select>

        Min Level: <input type="number" data-ng-model="vm.minLevel" />
        Max Level: <input type="number" data-ng-model="vm.maxLevel" />
    </section>

    <section>
        <table>
            <thead>
                <tr>
                    <th>Slot</th>
                    <th>
                        <span data-ng-show="vm.display.showWhite">White</span>
                    </th>
                    <th>
                        <span data-ng-show="vm.display.showYellow">Yellow</span>
                    </th>
                    <th>
                        <span data-ng-show="vm.display.showRed">Red</span>
                    </th>
                    <th>
                        <span data-ng-show="vm.display.showPurple">Purple</span>
                    </th>
                    <th>
                        <span data-ng-show="vm.display.showGreen">Green</span>
                    </th>
                    <th>
                        <span data-ng-show="vm.display.showBlue">Blue</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="e in vm.$storage[vm.currentProfile]" data-armor-row
                    data-armor="e" data-adorn-list="vm.adorns" data-display="vm.display"></tr>
            </tbody>
        </table>
    </section>

    <section>
        <button type="button" data-ng-click="vm.calculate()">Calculate</button>
        <button type="reset" data-ng-click="vm.reset()">Reset Form</button>

        <h2>Stats Affected</h2>
        <ul>
            <li data-ng-repeat="description in vm.effects">{{description}}</li>
        </ul>
        
        <div data-ng-repeat="set in vm.sets">
            <h3>{{set.name}} ({{set.equipped}}/{{set.max}})</h3>
            <ul>
                <li data-ng-repeat="description in set.effects">{{description}}</li>
            </ul>
        </div>

        <h2>Shopping List</h2>
        <ul>
            <li data-ng-repeat="(name, amount) in vm.shoppingList">
                {{amount}} - <a data-ng-href="http://eq2.me/i/{{name}}" target="_blank">{{name}}</a>
            </li>
        </ul>

        <h3>Crafting Materials</h3>
        <ul data-ng-repeat="(tier, materials) in vm.materials">
            <li data-ng-show="materials.mana">{{materials.mana}} {{vm.strings[tier].mana}}</li>
            <li data-ng-show="materials.infusion">{{materials.infusion}} {{vm.strings[tier].infusion}}</li>
            <li data-ng-show="materials.powder">{{materials.powder}} {{vm.strings[tier].powder}}</li>
            <li data-ng-show="materials.fragment">{{materials.fragment}} {{vm.strings[tier].fragment}}</li>
        </ul>
    </section>
    
    <footer>
        <h2>Notes</h2>
        <p>There is currently a bug in Census that causes an adornment to appear multiple times. Each duplicate has a unique ID, which causes the duplication.</p>
        <p>My primary emphasis will be on maintaining current adornments. As such, yellow and red adornments are not guaranteed to be fully accurate.</p>
    </footer>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>

    <script src="app/app.js"></script>
    <script src="app/model.js"></script>
    <script src="app/controller.js"></script>
    <script src="app/directives/adorn-select.js"></script>
    <script src="app/directives/armor-row.js"></script>
    <script src="app/filters/adorn-filter.js"></script>
    <script src="app/services/datacontext.js"></script>
    <script src="app/services/calculator.js"></script>
</body>
</html>
