﻿    <div data-ng-show="display === 'name'">
        <select data-ng-model="adorn" data-ng-options="a.name for a in list track by a._id">
            <option value="">-- choose adornment --</option>
        </select>
    </div>
    <div data-ng-show="display === 'effect'">
        <select data-ng-model="adorn" data-ng-options="a.description for a in list track by a._id">
            <option value="">-- choose adornment --</option>
        </select>
    </div>
