﻿<td><b>{{armor.slot}}</b></td>
<td>
    <div data-ng-show="display.showWhite && showWhite">
        <adorn-select adorn="armor.white1" list="whiteList" display="display.label"></adorn-select>
        <adorn-select adorn="armor.white2" list="whiteList" display="display.label"></adorn-select>
        <adorn-select adorn="armor.white3" list="whiteList" display="display.label" data-ng-show="armor.slot === 'Primary'"></adorn-select>
    </div>
</td>
<td>
    <div data-ng-show="display.showYellow && showYellow">
        <adorn-select adorn="armor.yellow" list="yellowList" display="display.label"></adorn-select>
        <adorn-select adorn="armor.yellow2" list="yellowList" display="display.label" data-ng-show="armor.slot === 'Primary'"></adorn-select>
    </div>
</td>
<td>
    <div data-ng-show="display.showRed && showRed">
        <adorn-select adorn="armor.red" list="redList" display="display.label"></adorn-select>
        <adorn-select adorn="armor.red2" list="redList" display="display.label" data-ng-show="armor.slot === 'Primary'"></adorn-select>
    </div>
</td>
<td>
    <div data-ng-show="display.showPurple && showPurple">
        <adorn-select adorn="armor.purple" list="purpleList" display="display.label"></adorn-select>
        <adorn-select adorn="armor.purple2" list="purpleList" display="display.label" data-ng-show="armor.slot === 'Primary'"></adorn-select>
    </div>
</td>
<td>
    <div data-ng-show="display.showGreen && showGreen">
        <adorn-select adorn="armor.green" list="greenList" display="display.label"></adorn-select>
    </div>
</td>
<td>
    <div data-ng-show="display.showBlue && showBlue">
        <adorn-select adorn="armor.blue" list="blueList" display="display.label"></adorn-select>
        <adorn-select adorn="armor.blue2" list="blueList" display="display.label" data-ng-show="armor.slot === 'Primary'"></adorn-select>
    </div>
</td>
